@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;500&family=IBM+Plex+Sans+Condensed:wght@400;700&family=Staatliches&display=swap');

body {
  font-size: 14px;
}

.chart svg {
  overflow: visible;
}

.axis {
  color: #2b2b2b;
  font-size: 0.85rem;
  font-family: 'IBM Plex Mono';
  font-weight: 300;
}

.annotation-note-title {
  font-size: 3rem;
  font-family: 'Staatliches';
  letter-spacing: 3px;
}

.annotation-note-label {
  font-size: 0.9rem;
  font-family: 'IBM Plex Sans Condensed';
  font-weight: 400;
  fill: #68696a;
}

.annotation-note-bg {
  fill-opacity: 0.5;
}

#annotation-sub-title .annotation-note-label {
  fill: #b3b3b3;
  font-weight: 700;
  font-size: 1rem;
}

#annotation-text-2 .annotation-note-label {
  text-anchor: end;
}

#annotation-text-2 .annotation-note-bg {
  fill-opacity: 0;
}

#annotation-caption .annotation-note-label {
  fill: #676767;
  font-weight: 700;
  font-size: 0.8rem;
}
